/**
 * --button-radius
 */
.root {
  &[data-variant="nh-ui"] {
    font-weight: 500;
    --button-bg: hsl(var(--primary));
    --button-color: hsl(var(--primary-foreground));
    --button-hover: hsl(var(--primary) / 0.9);
  }

  &[data-variant="nh-ui-secondary"] {
    font-weight: 500;
    --button-bg: hsl(var(--foreground) / 0.1);
    --button-color: hsl(var(--secondary-foreground));
    &:hover {
      background-color: hsl(var(--foreground) / 0.15);
    }
  }

  &[data-variant="nh-ui-destructive"] {
    font-weight: 500;
    --button-bg: hsl(var(--destructive));
    --button-color: hsl(var(--destructive-foreground));
  }

  &[data-variant="nh-ui-outline"] {
    font-weight: 500;
    color: hsl(var(--foreground));
    --button-bg: transparent;
    --button-bd: calc(0.0625rem * var(--mantine-scale)) solid
      hsl(var(--secondary-foreground) / 0.15);
    &:hover {
      background-color: hsl(var(--secondary));
    }
  }

  &[data-variant="nh-ui-ghost"] {
    font-weight: 500;
    --button-bg: hsl(var(--background));
    --button-hover: hsl(var(--accent));
  }
}
