.root {
  line-height: 1.5;
  &[data-variant="nh-ui"] {
    color: hsl(var(--foreground) / 0.75);
  }
  &[data-variant="nh-ui-muted"] {
    color: hsl(var(--muted-foreground));
  }
  &[data-variant="nh-ui-strong"] {
    color: hsl(var(--foreground));
  }
  &[data-variant="nh-ui-primary"] {
    color: hsl(var(--primary-foreground));
  }
}
