.root {
  background: linear-gradient(
    to right bottom,
    #fff 30%,
    hsla(0, 0%, 100%, 0.65)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: unset;
}
