.root {
  padding-left: 0;
  font-size: var(--mantine-font-size-md);
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }
  & p {
    color: hsl(var(--muted-foreground));
  }
  & img {
    margin-top: var(--mantine-spacing-lg) !important;
    margin-bottom: var(--mantine-spacing-lg);
    border-radius: var(--mantine-radius-sm);
  }
  & code {
    color: #f6c177 !important;
  }
  & blockquote {
    font-size: 16px;
  }
  & pre > code {
    font-size: 14px;
    padding: 0;
    @mixin light {
      background: transparent;
    }
    @mixin dark {
      background: transparent;
    }
  }
  & pre {
    padding: var(--mantine-spacing-md);
    @mixin dark {
      background: hsl(var(--secondary) / 0.5);
    }
  }
  & div[data-rehype-pretty-code-fragment] {
    margin-bottom: var(--mantine-spacing-lg);
  }
}
